{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/semantic.css' %}" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="{% static  'css/list_custom.css' %}" media="screen" title="no title" charset="utf-8">

</head>

<body>
    <div class="ui inverted top fixed menu borderless red menu">
        <div class="header item">
            <div class="ui image">
                <img src="{% static 'images/tenlogo.png' %}" alt="">
            </div>
        </div>

        <div class="right menu">
            <div class="item">
                <h5 class="ui inverted header">
                        <div class="ui avatar image">
                            <img src="{% static 'images/default.png' %}" alt="">
                        </div>

                        <span>admin</span>

                    </h5>
            </div>
            <div class="item">

                <a href="#logout/" class="ui inverted circular button">Logout</a>

            </div>
        </div>
    </div>
    <div class="ui inverted segment container nav">
        <div class="ui  three borderless  item  menu">
            <a class="active item" href="#list/all">
                        All
                    </a>
            <a class="item">
                        New
                    </a>


            <a class="item" href="#list/editors">
                        Editor's
                    </a>



        </div>
    </div>


    <div class="ui basic segment container content">

        <div class="ui three column grid">
            {% for article in article_list %}
            <div class="column">
                <a class="ui fluid card" href="{% url 'detail' article.id %}">
                    <div class="image">
                        <img src="{{ article.img }}" alt="" style="height:200px;object-fit: cover;">
                    </div>
                </a>

                <div class="title header" href="{% url 'detail' article.id %}">{{ article.title }}</div>

                <i class="icon grey unhide"></i>
                <span style="color:#bbbbbb">{{ article.views }}</span>

                <span class="" style="color:rgb(226, 226, 226)">|</span>

                <i class="icon grey checkmark"></i>
                <span style="color:#bbbbbb"> {{ article.favs }} people got it</span>

            </div>
            {% endfor %}
        </div>
    </div>

    <div class="ui center aligned very padded vertical segment container">
        <div class="ui pagination menu">
            <a href="#" class="item">
                <i class="icon red left arrow"></i>
            </a>

            <a href="#" class="item">
                <i class="icon red right arrow"></i>
            </a>
        </div>
    </div>
</body>

</html>
